{{ define "title" }}opencam{{ end }}
{{ define "content" }}
  <div id="config">
    <div id="add-camera">
      <button class="btn"><span class="big">+</span> Add Camera</button>
    </div>
    <div id="cameras" class="container-fluid">
      <div class="row">
      {{ range .Cameras }}
        <div class="camera form-horizontal col-sm-8 col-sm-offset-2" data-id="{{.ID}}">
          <div class="form-group">
            <label class="control-label col-sm-3">
              Camera Name
            </label>
            <div class="col-sm-8">
              <input type="text"
                     class="camera-name form-control"
                     placeholder="Camera Name"
                     value="{{.Name}}">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3">URL</label>
            <div class="col-sm-8">
              <input type="text"
                     class="camera-url form-control"
                     placeholder="URL"
                     value="{{.URL}}">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3">Username</label>
            <div class="col-sm-8">
              <input type="text"
                     class="camera-user form-control"
                     placeholder="Username"
                     value="{{.Username}}">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3">Min Change</label>
            <div class="col-sm-8">
              <input type="text"
                     class="camera-min-change form-control"
                     placeholder="Min Change"
                     value="{{.MinChange}}">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3">Threshold</label>
            <div class="col-sm-8">
              <input type="text"
                     class="camera-threshold form-control"
                     placeholder="Threshold"
                     value="{{.Threshold}}">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3">Frame</label>
            <div class="col-sm-8">
              <img class="camera-frame" src="/frame/{{.ID}}">
            </div>
          </div>
        </div>
      {{ end }}
      </div>
    </div>
  </div>
{{ end }}
{{ define "scripts" }}
  <script>window.OPENCAM_CAMERAS = {{ json .Cameras }}</script>
{{ end }}
