{{ define "title" }}opencam{{ end }}
{{ define "content" }}
  <div id="config">
    <div id="add-camera" class="container-fluid">
      <div class="row">
        <div class="btn-container col-sm-2 col-xs-3 col-sm-offset-8 col-xs-offset-9">
          <button id="add-camera-btn" class="btn-primary"><span class="big">+</span> Add Camera</button>
        </div>
      </div>
    </div>
    <div id="cameras" class="container-fluid"></div>
  </div>
{{ end }}
{{ define "scripts" }}
  <script>window.OPENCAM_CAMERAS = {{ json .Cameras }}</script>
  <script src="/static/js/config.js"></script>
{{ end }}
