{{ define "title" }}opencam{{ end }}
{{ define "content" }}
  <div id="opencam">
    <div id="filter-container">
      <div class="filter">
        <label class="filter-label">Cameras</label>
        <ul id="filter-cameras" class="filter-options">
          {{ range .Cameras }}
            <li class="filter-camera active" data-id="{{.ID}}">
              <a href="">
                {{.Name}}
              </a>
            </li>
          {{ end }}
        </ul>
      </div>
      <div class="filter">
        <label class="filter-label">Group By</label>
        <ul id="filter-groups" class="filter-options">
          <li class="filter-group active" data-range="0">
            <a href="">
              None
            </a>
          </li>
          <li class="filter-group" data-range="1">
            <a href="">
              1m
            </a>
          </li>
          <li class="filter-group" data-range="10">
            <a href="">
              10m
            </a>
          </li>
          <li class="filter-group" data-range="30">
            <a href="">
              30m
            </a>
          </li>
          <li class="filter-group" data-range="60">
            <a href="">
              1h 
            </a>
          </li>
          <li class="filter-group" data-range="3600">
            <a href="">
              1d 
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div id="events" class="container-fluid"></div>
  </div>
{{ end }}
{{ define "scripts" }}
  <script>window.OPENCAM_CAMERAS = {{ json .Cameras }}</script>
  <script src="/static/js/events.js"></script>
{{ end }}
