{{ define "title" }}opencam{{ end }}
{{ define "content" }}
  <div id="opencam">
    <div id="live" class="container-fluid">
      {{ template "streams" .Cameras }} 
    </div>
  </div>
{{ end }}
{{ define "scripts" }}{{ end }}
