.trans-opacity {
  transition: opacity 0.5s;
}

.fadein {
  animation-duration: 0.5s;
  animation-name: fadein;
}

@keyframes fadein {
  from {
    transform: scale(0.93);
    opacity: 0;
  }

  to {
    transform: scale(1.0);
    opacity: 1;
  }
}

#add-camera-btn {
  padding: 10px 10px;
  margin: 20px -10px 20px;
}

#add-camera .btn-container {
  text-align: right;
  padding-right: 10px;
}

.big {
  font-size: 20px;
  font-weight: 800;
  line-height: 0.5;
}

.btn-primary {
  background-color: #2196F3;
  border-radius: 0;
  box-shadow: 0 3px 8px -3px #666;
  border-color: transparent;
}

.btn-primary:hover {
  border-color: transparent;
}

.btn-default {
  color: #333333;
  background-color: #ffffff;
  border-radius: 0;
  border-color: transparent;
  box-shadow: 0 3px 8px -3px #666;
}

.btn-default:hover {
  border-color: transparent;
}

.camera {
  border: 1px solid #ececec;
  padding: 40px 10px 20px;
  background: #f8f8f8;
  box-shadow: 0 8px 8px -4px #ccc;
  border-radius: 3px;
  margin-bottom: 40px;
}

.camera-buttons {
  text-align: right;
}

.delete-camera {
  position: relative;
  right: 10px;
  float: right;
  top: -30px;
  font-size: 20px;
  background: #D32F2F;
  width: 28px;
  color: white;
  text-align: center;
  border-radius: 50px;
  box-shadow: 0 3px 8px -3px #666;
  cursor: pointer;
}

.event {
  padding: 10px 0;
}

img.event-image {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.event a {
  display: block;
  box-shadow: 0 0 30px -10px #666;
  color: #fff;
  background: #000;
  text-align: center;
}

.event a:hover {
  text-decoration: none;
}

.event-info {
  margin: 20px 10px;
  position: absolute;
  bottom: 0;
  opacity: 1;
  text-align: left;
}

.event-info h3 {
  margin: 0 0 10px;
}

.event-image-container {
  height: 15%;
}

.event-image-container img {
  height: auto;
  width: 100%;
}

.event-video-progress {
  width: 0;
  height: 3px;
  background-color: #3F9FFF;
  position: relative;
}

.form-group .camera-frame {
  width: 100%;
}

.stream img {
  width: 100%;
}

.stream-container {
  box-shadow: 0 0 30px -10px #666;
  color: #333;
  margin: 10px 0;
}

.stream-info {
  font-size: 24px;
  position: absolute;
  bottom: 0;
  margin: 20px;
  color: white;
}

#nav {
  margin: 10px 15px;
}

#nav a {
  padding: 3px 4px;
  text-align: center;
  font-size: 20px;
  display: inline-block;
  color: #333;
  min-width: 80px;
}

#nav a.active {
  border-bottom: 4px solid #0288D1;
}

#nav a:hover {
    color: #0288D1;
    text-decoration: none;
}
