.event {
  margin: 10px 0;
}

.event a {
  display: block;
  border: 1px solid #ddd;
  padding: 10px;
  box-shadow: 0 0 30px -10px #666;
  color: #333;
}

.event a:hover {
  text-decoration: none;
}

.event-info {
  margin-top: 10px;
}

.event-info h3 {
    margin: 0 0 10px;
}

.event-image-container img {
  width: 100%;
}

.event-video-progress {
  width: 0;
  height: 4px;
  background-color: #3F9FFF;
}

.stream img {
  width: 100%;
}

.stream-container {
  border: 1px solid #ddd;
  padding: 10px;
  box-shadow: 0 0 30px -10px #666;
  color: #333;
  margin: 10px 0;
}

.stream-info {
  font-size: 24px;
}

#nav {
  margin: 10px 15px;
}

#nav a {
  padding: 3px 4px;
  text-align: center;
  font-size: 20px;
  display: inline-block;
  color: #333;
  min-width: 80px;
}

#nav a.active {
  border-bottom: 4px solid #0288D1;
}

#nav a:hover {
    color: #0288D1;
    text-decoration: none;
}
