{{ define "base" }}
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ template "title" . }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Video surveillance for the masses">
        <meta name="theme-color" content="#666">
        <link rel="stylesheet" href="/static/css/bootstrap.css">
        <link rel="stylesheet" href="/static/css/styles.css">
    </head>
    <body>
        <div id="nav">
          <a href="/">Live</a> 
          <a href="/events">Events</a>
        </div>
        {{ template "content" . }}
        {{ template "scripts" . }}
    </body>
</html>
{{ end }}

{{ define "title" }}{{ end }}
{{ define "content" }}{{ end }}
{{ define "scripts" }}{{ end }}
